nav {
  color: white;
  padding: 3vh  1vh;
  display: flex;
    justify-content: end;
    gap:5vh;
    margin: 0vh 6vh;
}
nav a:hover{
    color: #db6838;
}
nav a{
    z-index: 100;
    position: relative;
}
